<a href="#/"><< Back</a><br/>
<h4>Details of {{student.firstName + ' ' + student.lastName}}</h4>
<div>
    <table>
        <tr>
            <td>ID:</td>
            <td>{{student.id}}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>{{student.firstName}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{student.lastName}}</td>
        </tr>
        <tr>
            <td valign="top">Address:</td>
            <td address="student.address"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{student.email}}</td>
        </tr>

    </table>
</div>
